body   {background: #333;}

#page-wrap:after	{content: "Smartphone Layout";}

h2 span, section h3,h2 {display: none;}
body                {font-size: xx-large;}
section video,p 	{text-align: center; width: 220px; height: 140px;}
footer, input       {font-size: large;}